<footer
    class="m-4 w-full xl:w-[1120px] mx-auto mb-10 max-w-screen-xl"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 flex flex-col md:flex-row items-center justify-between gap-4 md:gap-0 text-center md:text-left"
    >
        <span class="text-sm text-gray-500">
            © 2025
            <a href="https://github.com/Aguss-Amp2" class="hover:underline"
                >Agustin-Amposta™</a
            >
        </span>

        <ul
            class="flex flex-wrap justify-center md:justify-start items-center gap-4 text-sm font-medium text-blue-400"
        >
            <li>
                <a href="#sobre-mi" class="hover:underline">Sobre Mi</a>
            </li>
            <li>
                <a href="mailto:agustinampo80@gmail.com" class="hover:underline"
                    >Contacto</a
                >
            </li>
        </ul>
    </div>
</footer>