<header class="fixed top-0 left-1/2 -translate-x-1/2 z-50 flex justify-between items-center px-4 py-5 w-full xl:w-[1120px] shadow-md backdrop-blur bg-gray/60">
    <img class="rounded-full size-14"  src="https://pbs.twimg.com/profile_images/1905453319574720513/tx4FncIl_400x400.jpg" alt="agus photo">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top" class="hover:text-blue-500 transition-colors">Inicio</a>
        <a href="#experiencia" class="hover:text-blue-500 transition-colors">Experiencia</a>
        <a href="#proyectos" class="hover:text-blue-500 transition-colors">Proyectos</a>
        <a href="#sobre-mi" class="hover:text-blue-500 transition-colors">Sobre Mi</a>
        <a href="mailto:agustinampo80@gmail.com" class="hover:text-blue-500 transition-colors">Contacto</a>
    </nav>
</header>